---
---

@import "{{site.theme}}";

#powerbix{
    background-image: url(https://marovski.github.io/PowerBiRepo/assets/css/crimepbix.png);

}

@media (min-width: 500px) {
    #powerbix {
        height:300.25;
        width: 410;
    }
  }